<button
  [class.large]="size === 'large'"
  [class.small]="size === 'small'"
  [class.textOnly]="!!textOnly"
  [class.contrast]="variant === 'contrast'"
  [class.outline]="variant === 'outline'"
  [class.redInvert]="variant === 'red-invert'"
  [style.width]="width || 'auto'"
  (click)="handleClick($event)"
  [type]="type || 'button'"
>
  <i
    class="button__icon--left"
    *ngIf="iconUrl"
    [style.backgroundImage]="iconUrl | imagePath: 'icons'"
  >
  </i>
  <ng-content></ng-content>
</button>
