:host {
  display: inline-block;
  vertical-align: middle;
}

i {
  display: block;
  box-sizing: content-box;
  width: 2.4rem;
  height: 2.4rem;
  padding: 0.6rem;
  border-radius: 50%;
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
