<section class="brand">
  <img class="brand__logo" src="../../assets/images/logo.png" alt="valUcheck logo" />
  <div class="brand__tagline">Trace to Origin</div>
</section>
<footer>
  <nv-button size="large" type="submit" (click)="logInAsOwner()">
    Check as owner
  </nv-button>
  <nv-button size="large" type="submit" (click)="logInAsUser()">
    Check as user
  </nv-button>
  <nv-button size="large" type="submit" textOnly="true" (click)="logInAsGuest()">
    Try as guest
  </nv-button>
</footer>
