:host {
  display: block;
  width: 100vw;
  height: 100vh;
  position: relative;
}

header {
  position: relative;
  padding: 1.6rem 2.4rem;
  z-index: 1;
}
.right__header {
  float: right;
  & > nv-icon + nv-icon {
    margin-left: 0.8rem;
  }
}

video, canvas {
  position: absolute;
  left: 0;
  top: 0;
}

.error {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  text-align: center;
}
