:host {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
  padding: 1.6rem 2.4rem;

  & > * + * {
    margin: 0.8rem;
  }
}

.label {
  color: #fff;
  font-size: 2rem;
  font-weight: 400;

  width: calc(50% - 4.6rem);
  word-break: break-word;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.label--right {
  text-align: right;
}

nv-icon {
  flex: none;
}
